@import "./neon.css";
@import "./corporate.css";
@import "./emerald.css";
@import "./slate.css";
@import "./amber.css";
@import "./auth.css";
@import "./wishlist.css";
@import "./testimonial.css";
@import "./stats.css";
@import "./dashboard.css";
@import "./orders.css";
@import "./sales.css";
@import "./activity.css";
@import "./reports.css";
@import "./settings.css";
@import "./article.css";
@import "./pricing.css";
@import "./services.css";
