[data-theme='minimal'] {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);

    --primary: oklch(60.525% 0.2624 331.493);
    --primary-foreground: oklch(56.451% 0.22409 358.478);

    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);

    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);

    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);

    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);

    --destructive: oklch(0.577 0.245 27.325);

    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);

}

.dark [data-theme='minimal'] {
    --background: oklch(0.145 0 0);
    --foreground: oklch(1 0 0);

    --primary: oklch(90.761% 0.19212 109.701);
    --primary-foreground: oklch(49.53% 0.25787 302.034);

    --secondary: oklch(76.966% 0.18533 154.029);
    --secondary-foreground: oklch(40.3% 0.15588 1.903);

    --muted: oklch(0.556 0 0);
    --muted-foreground: oklch(0.922 0 0);

    --accent: oklch(0.556 0 0);
    --accent-foreground: oklch(0.85 0 0);

    --card: oklch(0.145 0 0);
    --card-foreground: oklch(1 0 0);

    --destructive: oklch(0.704 0.191 22.216);

    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
}